doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title 
    link(rel='stylesheet', href='./css/main.css')
  body
    script(src='./js/script.js')

    header.header
      h1.title HTML5/CSS3 モダンコーディング
      a.button(href="") Buy now

    section.about
      h2.sub-title フロントエンドエンジニアから学ぶ 制作現場の実践的なテクニック
      p
        | 本書は、HTML5/CSS3を使ってモダンなサイトを制作するためのコーディングテクニックをハンズオン形式で学ぶ書籍です。
        br
        | 現在主流なWebページのデザインスタイル、「スタンダードレイアウト」「グリッドレイアウト」「シングルページレイアウト」を適用した3つのサイトを作りながら、各スタイルの特徴や使い分け、コーディングテクニックを学びます。
        br
        | 実際のWeb制作の現場と同様に、サイトのデザインを基にして骨格を見極め、枠組みから中身までひと通りコーディングするというフローをなぞることで、HTML5/CSS3の実用的なコーディングスキルやテクニックを無理なく身につけることができます。
        br
        | 3つのサイトを作成することで、「本格的なレイアウトのサイトを作れた」「こういったレイアウトの場合こうコーディングすればいいという具体的なテクニックがわかった」というような手応えを得やすく、学ぶことへのモチベーションが下がらずに高まる構成にしています。
        br
        | 駆け出しのフロントエンドエンジニアや、HTML/CSSコーディングに興味はあっても実践の機会がないデザイナー、バックエンドエンジニアなどが、実際にサイトを作ることを通してスキルアップすることを目標とした一冊です。

    section.merit
      h2 本書の特長

    section.target
      h2.sub-title 想定読者
      ul
        li HTMLやCSSの基本的な文法がわかる
        li コードの意味はわかるけれど、自分で書こうとすると固まってしまう
        li 知識をつけてもなかなか実践できない
        li 普段レガシーブラウザ（IE8以下）の対応をしているけれど、そろそろレガシーブラウザ抜きでの効率的なコーディングスキルを身に着けたい
        li かっこいいサイトを作ってみたい

    section.sites
      h2 こんなサイトをつくります
      .site-group
        .site
          a(href="" target="_blank")
            img.site-image(src="")
            h3.site-title
            p.site-description
        .site
          a(href="" target="_blank")
            img.site-image(src="")
            h3.site-title
            p.site-description
        .site
          a(href="" target="_blank")
            img.site-image(src="")
            h3.site-title
            p.site-description

    section.author
      h2 著者について
      p
        | よしこ

    footer.footer
